

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/im20.jpg") center/cover;
}

.auth-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  color: white;
}

.auth-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}