.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

/* Brand */
.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: white !important;
}

/* Links */
.nav-link {
  color: white !important;
  margin: 0 10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: red !important;
  transform: scale(1.1);
}

/* Login button */
.btn-danger {
  border-radius: 20px;
}